<h2>Add Quote</h2>

<%= render 'application/errors' %>
<%= form_for [@song, @text] do |f| %>

  <%= f.label :body, 'Quote Body' %>
  <%= f.text_field :body %>

  <%= f.submit 'Save Quote', class: 'button' %>
<% end %>
