<h2>Add Text</h2>

<%= render 'application/errors' %>
<%= form_for [@song, @text] do |f| %>

  <%= f.label :body, 'Text Body' %>
  <%= f.text_field :body %>

  <%= f.submit 'Save Text', class: 'button' %>
<% end %>
