<!DOCTYPE html>
<html>
<head
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Songwriter" %></title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <!-- Compressed CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">

  <!-- Compressed JavaScript -->
  <script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Your Songs', songs_path %>
          </li>
          <li>
            <%= link_to "#{current_user.username}", edit_user_registration_path(@user)%>
          </li>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, class: 'button', method: 'delete' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'button', method: 'get' %>
          </li>
          <li>
            <%= link_to 'Sign In', new_user_session_path, class: 'button', method: 'get' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= render "application/flash" %>
  <%= render "application/errors" %>

  <div class="row">
    <div class="columns content">
      <%= yield %>
    </div>
  </div>

  <% if Rails.env.test? %>
    <%= hidden_field_tag :testing, true  %>
  <% end %>
</body>
</html>
