<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  </head>
  <body>
    <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li>
            <%= link_to 'Songwriter', root_path %>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Your Songs', songs_path %>
            </li>
            <li>
              <%= link_to "#{current_user.username}", edit_user_registration_path(@user)%>
            </li>
            <li>
              <%= link_to 'Sign Out', destroy_user_session_path, class: 'button', method: 'delete' %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'button', method: 'get' %>
            </li>
            <li>
              <%= link_to 'Sign In', new_user_session_path, class: 'button', method: 'get' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= render "application/flash" %>
    <%= render "application/errors" %>

    <div class="row">
      <div class="columns content">
        <%= yield %>
      </div>
    </div>

    <% if Rails.env.test? %>
      <%= hidden_field_tag :testing, true  %>
    <% end %>
  </body>
</html>
